/* Large desktops and laptops */

@media (max-width: 1200px) {
	.footer_content h3 {
		font-size: 23px;
	}
	.contact_form input[type=text] {
		width: 65%;
	}
}


/* Portrait tablets and medium desktops */

@media (max-width: 992px) {
	.chef_item h4 {
		font-size: 21px;
	}
	.dish_category {
		padding: 0 15px;
	}
	.nav_content ul li:last-child {
		margin-right: 10px;
	}
	.team {
		margin-bottom: 0;
	}
	.chef_item {
		margin-bottom: 50px;
	}
	.adress_wrap {
		position: relative;
		margin-bottom: 20px;
	}
	#contact_form textarea {
		height: 170px;
	}
	#contact_form input[type="submit"] {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}
}


/* Portrait tablets and small desktops */

@media (max-width: 768px) {
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	.header_text h1 {
		font-size: 50px;
	}
	.best h2 {
		font-size: 80px;
		margin-top: 30px;
	}
	.best p {
		font-size: 36px;
	}
	.menu img {
		width: 40%;
	}
	.menu_food .tab {
		margin-right: 10px;
	}
	.menu_food .tab a {
		margin-left: 10px;
	}
	.chef_item {
		padding: 0 5px;
	}
	.small_screen {
		position: absolute;
		right: 0;
	}
	.new_menu h3 {
		width: 100%;
		line-height: 24px;
	}
	.new_menu h3,
	.big_food_menu h3,
	.new_hot h3 {
		font-size: 17px;
	}
	.big_food_menu {
		margin-bottom: 50px;
	}
	.footer_content {
		text-align: center;
	}
	.footer_content h3 {
		margin: 0 auto;
		margin-bottom: 20px;
		margin-top: 20px;
		clear: both;
	}
	.footer_content .contact_form {
		display: table;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.sidebar_blog {
		text-align: center;
		margin: 0 auto;
	}
	.sidebar_h3,
	#form_sidebar_blog {
		display: table;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.sidebar_text:after {
		margin: 0 auto;
	}
}

@media (max-width: 640px) {
	#main_header {
		min-height: 630px;
	}
	.logo img {
		width: 40%;
	}
	#main_header nav ul li {
		margin: 0 10px;
	}
	.header_text h1 {
		font-size: 36px;
	}
	#main_header nav ul li a {
		margin-right: 0;
	}
	.header_text p {
		font-size: 14px;
	}
	.best h2 {
		font-size: 50px;
	}
	.best p {
		font-size: 24px;
	}
	.food_item li {
		width: 80%;
		padding: 0 15%;
		margin-right: 0;
	}
	.menu {
		margin-bottom: 10px;
	}
	.menu h5 {
		font-size: 17px;
	}
	.menu_food {
		margin-bottom: 0;
	}
	.menu_food .tab {
		margin-right: 30px;
		margin-bottom: 40px;
	}
	.tab_item {
		min-height: 360px;
	}
	.chef_item {
		width: 48%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.chef_item:nth-child(odd) {
		margin-right: 4%;
	}
	.section_title {
		font-size: 36px;
		margin: 30px 0 10px 0;
	}
	.descr_section {
		margin-bottom: 35px;
	}
	.dish_item_title {
		font-size: 30px;
		margin: 25px 0;
	}
	.dish_description {
		font-size: 24px;
	}
	#header_team .logo img {
		width: 100%;
	}
	.nav_content ul li {
		margin-left: 10px;
	}
	.header_nav .logo {
		width: 26%;
	}
}


/* Landscape phones and smaller */

@media (max-width: 480px) {
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
	#main_header .logo {
		margin-top: 50px;
	}
	.logo img {
		width: 60%;
	}
	#main_header nav ul li {
		margin: 0 5px;
		padding: 0;
	}
	#main_header nav ul li a {
		font-size: 12px;
	}
	.header_text h1 {
		font-size: 28px;
	}
	.header_text p {
		font-size: 13px;
		line-height: 24px;
		margin-top: 5px;
	}
	.btn_red {
		padding: 10px 20px;
	}
	.food_item li {
		width: 100%;
		padding: 0 5%;
	}
	.dish_category {
		padding: 0;
	}
	.dish_category h4 {
		font-size: 16px;
	}
	.dish_category .dish_ingredients {
		font-size: 11px;
	}
	.dish_category .dish_price {
		font-size: 12px;
	}
	.team {
		margin-bottom: 20px;
	}
	.section_title {
		font-size: 24px;
	}
	.descr_section {
		margin-bottom: 18px;
		font-size: 18px;
	}
	.chef_item h4 {
		font-size: 16px;
	}
	.chef_item h6 {
		font-size: 11px;
	}
	.chef_item p {
		font-size: 12px;
	}
	.news .col-xs-6 {
		width: 100%;
	}
	.small_screen {
		position: relative;
	}
	.news_article {
		min-height: 200px;
	}
	.new_menu h3 {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.big_food_menu h3 {
		margin-top: 120px;
		padding-bottom: 20px;
	}
	.big_food_menu h4 {
		color: #333;
	}
	.new_hot {
		margin-bottom: 30px;
	}
	.footer_content h3 {
		margin-top: 30px;
		font-size: 19px;
	}
	.contact_form input[type=text] {
		width: 60%;
		font-size: 15px;
	}
	.header_nav .logo {
		display: block;
		width: 30%;
		float: none;
		margin: 0 auto;
		line-height: 70px;
	}
	.nav_content {
		text-align: center;
		line-height: 60px;
	}
	.team .chef_item {
		width: 100%;
		margin: 0 0 40px 0;
	}
	.nav_content ul li {
		margin-left: 8px;
	}
	.nav_content ul li:last-child {
		margin-right: 0;
	}
	.nav_content ul li a {
		font-size: 12px;
	}
	.article_item .post_title {
		font-size: 16px;
	}
	.article_item .post_text {
		margin: 0px 0;
		font-size: 12px;
		line-height: 19px;
	}
	.input_text_wrap input {
		width: 100%;
	}
	.input_text_wrap input:first-child {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.form_group input,
	#leave_coment textarea,
	#contact_form input,
	#contact_form textarea {
		padding: 10px 15px;
		font-size: 16px;
	}
	.adress_wrap {
		padding: 15px;
		font-size: 16px;
	}
}
